<h2>Task {{task.id}} Details</h2>
<div><span>id: </span>{{task.id}}</div>
<div><span>description: </span>{{task.description}}</div>
<div><span>status: </span>{{task.status}}</div>

<div>
  <label for="description">Task description: </label>
  <input id="description" [(ngModel)]="task.description" placeholder="description"> <!-- con esto cambio la descripcion -->
</div>

<h2>My Tasks</h2>
<ul class="tasks">
  <li *ngFor="let task of tasks"> <!-- *ngFor es la directiva repetidora, repite task para cada elemento de tasks -->
    <button type="button" (click)="onSelect(task)">
    <span class="badge">{{task.id}}</span> {{task.description}} - {{task.status}}
    </button>
  </li>
</ul>

<div *ngIf="selectedTask"> <!-- esto solo solo hace si hay una Task seleccionada -->
  <h2>{{selectedTask.id}} Details</h2>
  <div>id: {{selectedTask.id}}</div>
    <div>
      <label for="task-description"> Task description: </label>
      <input id="task-description" [(ngModel)]=selectedTask.description placeholder="description">
    </div>
    <div>
      <label for="task-status"> Task status: </label>
      <input id="task-status" [(ngModel)]=selectedTask.status placeholder="status">
    </div>
</div>
